<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Running UP!!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link th:href="@{/css/shards.min.css}" rel="stylesheet" />
    </head>
    <body>

        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="">Running UP</a>        
                <!--ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="/ranking" class="pure-menu-link">Ranking</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
                </ul-->
            </div>
        </div>
        
        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">Play Running UP!!</h1>
                <p class="splash-subhead">
                    Try to running always up
                </p>
                <p>
                    <a href="/speed" class="pure-button pure-button-primary">Speed mode</a>
                </p>
                <p>
                    <a href="/endurance" class="pure-button pure-button-primary">Endurance mode</a>
                </p>
            </div>
        </div>
        
        <div class="content-wrapper"> 

            <div class="content">
                <h2 class="content-head is-center">Game Ranking</h2>
                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-2">
                        <h4>Speed Mode (Top 10)</h4>
                        <div class="pure-g title">
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Steps</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Date</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Dst</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Time</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Pts</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Elev</div>
                        </div>
                        <div class="pure-g" th:each="game: ${speedgames}">
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalSteps}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.formatStart}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalDistance}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalTime}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalPoints}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.maxElevation}" />
                        </div>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2">
                        <h4>Endurance Mode (Top 10)</h4>
                        <div class="pure-g title">
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Steps</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Date</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Dst</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Time</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Pts</div>
                            <div class="l-box pure-u-1-6 pure-u-md-1-6">Elev</div>
                        </div>
                        <div class="pure-g" th:each="game: ${endurancegames}">
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalSteps}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.formatStart}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalDistance}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalTime}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.totalPoints}" />
                            <div class="l-box pure-u-1-6 pure-u-md-1-6 ofhidden" th:text="${game.maxElevation}" />
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer l-box is-center">
                View the source of this game in <a href="https://github.com/juanjmerono/flyexample">GitHub</a>.
            </div>
        </div>        
    </body>
</html>